.font-yeseva {
  font-family: "Yeseva One", cursive !important;
}
.font-sans {
  font-family: "Noto Sans TC", sans-serif !important;
}
.font-serif {
  font-family: "Noto Serif TC", serif !important;
}
.multiline-ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.text-nowrap {
  white-space: nowrap;
}

.hover-text-primary {
  color: $primary;
  transition: color 0.3s;
  &:hover {
    color: $white;
  }
}
.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}
.hover-circle-primary {
  position: relative;
  z-index: 1;

  &:hover::before {
    position: absolute;
    content: "";
    width: 29px;
    height: 29px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: calc(100% - 29px + 10px);
    margin: auto 0;
    background: $primary;
    z-index: -1;
  }
}
