<!--========================
=          footer          =
=========================-->
<div class="p-6 p-md-8 text-center border-3 border-top">
  <small class="fs-md-10 font-sans">© 7TAO七逃. All Rights Reserved</small>
</div>
